.form {
  display: flex;
  flex-direction: column;
}
.type__number {
  margin-bottom: 30px;
  background-color: lightgrey;
  width: 30%;
  height: 30px;
}
.form__button {
  background-color: #14d9c4;
  margin-bottom: 30px;
  width: 80px;
}
.write-number {
  width: 60%;
  height: 30px;

  margin-bottom: 30px;
}
.number__tried {
  width: 60%;
  height: 30px;
}
