.main {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
}
.form__button {
  background-color: greenyellow;
  margin-bottom: 30px;
}
.write-number {
  width: 60%;
  margin-bottom: 30px;
}
.number__tried {
  width: 60%;
}
